<div class="wrap">
  <%- partial('header') %>
  <%- partial('slider_start') %>
  <%- partial('slogan') %>
  <%- partial('about_us') %>
  <%- partial('service') %>
  <%- partial('method') %>
  <%- partial('tools') %>
  <%- partial('benefits') %>
  <%- partial('work') %>
  <%- partial('courses') %>  
  <%- partial('warranty') %>
  
  <%- partial('footer') %>
  <!-- Scroll To Top --> 
  <a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a>
</div>
<!-- Wrap End -->


